.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.title {
  color: #4F3DFE;
  font-style: italic;
}

// Calendar styles

.icon {
  cursor: pointer;
}

table {
  border-spacing: 0;
  margin-bottom: 20px;
}

table > tbody > tr > td {
  padding: 10px;
  border: 1px solid #dee2e6;
}

th {
  border: 1px solid white;
}

th:hover, td:hover {
  border: 1px solid black;
}

.nextMonth {
  font-size: calc(1px + 2vmin);
  font-weight: 900;
  transform: rotate(-45deg) translate(-10px, -20px);
  position: absolute;
  color: #4F3DFE;
}

.availContainer {
  float: right;
}

// Family styles

.container {
  display: flex;
  align-items: center;
}

.familyItem {
  display: flex;
  margin: 10px;
}

.circleBase {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.tinyCircle {
  border-radius: 50%;
  width: 7px;
  height: 7px;
}

.current {
  border: 3px solid black;
}

.color1 {
  background: #e8d7ff;
}

.color2 {
  background: #ffd3e8;
}

.color3 {
  background: #78a1bb;
}

.color4 {
  background: #3b1c32;
}

.color5 {
  background: #dfffd6;
}

.color6 {
  background: #b15e6c;
}

.color7 {
  background: #bfa89e;
}
