.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.title {
  color: #4f3dfe;
  font-style: italic;
}

// Calendar styles

.icon {
  cursor: pointer;
}

table {
  border-spacing: 0;
  margin-bottom: 20px;
}

table > tbody > tr > td {
  padding: 10px;
  border: 1px solid #dee2e6;
}

th {
  border: 1px solid white;
}

.cell:hover {
  border: 1px solid black;
}

.nextMonth {
  font-size: calc(1px + 2vmin);
  font-weight: 900;
  transform: rotate(-45deg) translate(-10px, -20px);
  position: absolute;
  color: #4f3dfe;
}

// Family styles

.container {
  display: flex;
  align-items: center;
}

.familyItem {
  display: flex;
  margin: 10px;
}

.circleBase {
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.unavailable {
  height: 0.5vmin;
  width: 100%;
}

.current {
  border: 3px solid black;
}

.color1 {
  background: pink;
}

.color2 {
  background: blue;
}

.color3 {
  background: green;
}

.color4 {
  background: yellow;
}

.color5 {
  background: orange;
}

.color6 {
  background: purple;
}

.color7 {
  background: red;
}
